{% extends "layout.njk" %}

{% block content %}

   <h1>All video games</h1> 
     
    <p>Choose your video game :</p> 
 
   {% for game in allGames %}
    <li><a href="/platforms/:id/:slug">{{ game.name }}</a></li>
  {%else%}
    <li>This would display if the 'item' collection were empty </li>
  {%endfor%} 

  {% endblock %}