{% extends "layout.njk" %}

{% block content %}

   <h1>All video games</h1> 
     
    <p>Choose your video game :</p> 
 
   {% for game in allGames %}
    <img class="image" href= "/{{game.cover.url}}" src="{{game.cover.url}}" alt="{{game.name}}"/>
    <a href="/platforms/:id/{{game.slug}}">{{ game.slug }}</a>
  {%else%}
    <li>This would display if the 'item' collection were empty </li>
  {%endfor%} 

  {% endblock %}