{% extends "layout.njk" %}

{% block content %}

<h1>Game Features</h1>

  {%for data in featureGame %}
    <li>
      <img class="image"href="{{game.url}}"src="{{game.url}}"/>
    </li>
  {%else%}
    <li>This would display if the 'item' collection were empty</li>
  {% endfor %} #}


{% endblock %}