{% extends "layout.njk" %}

{% block content %}

<h1>Game Features</h1>

    <li>{{game.name}}</li>
    <li>{{game.category}}</li>
    <li>{{game.cover}}</li>
    <li><img class="image" href="{{game.url}}" src="{{game.url}}"/></li>

{% endblock %}