{% extends "layout.njk" %} 

{% block content %}

   <h1>All video games from one platform</h1> 
 
   {%for onePlatform in gameName%}
  <li><a href="/{{game.id}}/{{game.name}}">{{game.name}}</a></li>
  {%else%}
  <li>This would display if the 'item' collection were empty </li>
  {%endfor%} 

{% endblock %}
