{% extends "layout.njk" %} 

{% block content %}

   <h1>All video games platforms</h1> 
     
    <p>Choose your video game plateform :</p> 
 
   {%for platform in platformName%}
  <li><a href="/platforms/{{platform.id}}">{{platform.name}}</a></li>
  {%else%}
  <li>This would display if the 'item' collection were empty </li>
  {%endfor%} 

{% endblock %}
